spring:
  datasource:
    url: jdbc:mysql://localhost:3306/connectmoney?createDatabaseIfNotExist=true
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

security:
  jwt:
    secret_key: "omar_secret_key_01097094971"
    expiration_time: 3600000